body {
  background-color:gray;
  color: gray;
}
#quotes{
  position: relative;
  margin:280px auto;
  width:700px; 
  border:1px solid lightblue;
  background-color:white;  
}
#quotes .quote-text{
  margin-left:15px;
  margin-top:15px;
  font-size:1.75em;
  color:gray;
}
#quotes .quote-author {
  text-align: right;
  margin-right:15px;
  margin-bottom:10px;
  font-size:1.2em;
  color: darkslategray;
}
/* .buttons #newQ{
  position: absolute;
    right: 10px;
} */
.btn {
  height:30px;
  border:none;
  border-radius:5px;
  color:white;
  background-color:gray;
  margin-bottom:10px;
  cursor:pointer;
}
.buttons #newQ{
    float: right;
    margin-right:10px; 
}
.buttons #t{
    margin-left:10px;
}
p{
  color:white;
}


